<div class="main-wrapper">
    <app-sidebar />

    <!-- Backdrop for mobile -->
    @if (menuService.isSidebarOpen()) {
    <div class="sidebar-backdrop" (click)="menuService.closeSidebar()"></div>
    }

    <div class="page-wrapper">
        <app-header />
        <main class="page-content">
            <router-outlet />
        </main>

        <footer class="main-footer">
            <p>© 2026 <span class="fw-bold">ASC NATANGUÉ</span> — Excellence & Engagement Communautaire</p>
        </footer>
    </div>
</div>